{{> menu}}
<div class="ui container">
  <h1 class="ui header">
    <i class="compass icon"></i>
    <div class="content">
      Activity Dashboard
      <div class="sub header">Explore all available adventure activities</div>
    </div>
  </h1>

  <div class="ui three stackable cards">
    {{#each activities}}
      <div class="card">
        <div class="image">
          <img src="{{this.image}}" alt="{{this.name}}" style="height: 200px; object-fit: cover;">
        </div>
        <div class="content">
          <div class="header">{{this.name}}</div>
          <div class="meta">
            <span>Difficulty: {{this.difficulty}}</span>
          </div>
          <div class="description">
            <p>{{this.description}}</p>
          </div>
        </div>
        <div class="extra content">
          {{#if (eq this.difficulty "Easy")}}
            <i class="green smile outline icon"></i> Easy
          {{else if (eq this.difficulty "Medium")}}
            <i class="orange meh outline icon"></i> Medium
          {{else}}
            <i class="red frown outline icon"></i> Hard
          {{/if}}
          
          <a href="/activity/{{this.id}}" class="right floated">
            <i class="large eye link icon"></i>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</div>